//- ------------------------------------
//- BASE LAYOUT
//- ------------------------------------
extends aaa-master-layout


//- ------------------------------------
//- PAGE CONFIGURATION
//- ------------------------------------
prepend config
	- var link = "layout-sidebar-1-left-2-right.html"
	- var page = "layout.sidebar.pixel.si-1-left-2-right"
	- var pageSubTitle = " - 1 Left and 2 Right Sidebars"
	- var styles = [ 'syntaxhighlighter']
	- var scripts = [ 'a.syntaxhighlighter', 'velocity.custom.effects' ]

//- ------------------------------------
//- PAGE CONTENT
//- ------------------------------------
block content

		//SECTION
		section.l-main-container

			include components/layout/sidebar/sidebar_1/sidebar_1__t_1__left

			//Main Content
			section.l-container

				include components/layout/header/header_1/header_1__t_1__sb_right

				.l-page-header
					h2.l-page-title <span>1 Left</span> and <span>2 Right</span> Sidebars
					+breadcrumb(bread_layout_sidebar_pixel_1_left_2_right)

				.l-spaced-vertical

					.l-box.no-border
						.l-spaced
							.syntax-wrapper
								.syntax-info
									.mv
										p This page is another great example of the flexibility of the theme.
										p Here we have <strong>1 left sidebar</strong> and <strong>2 right sidebars</strong> and they are set up in 3 different ways for different purposes.
										p The functionality of the <strong>left sidebar</strong> we already covered <strong><a href="layout-sidebar-left.html">here</a></strong>.
										p The <strong>first right sidebar</strong> can be toggled from the header and contais a toggle button for the <strong>second right sidebar</strong>.
										p It is intended to be a quick check sidebar for your most important stats and by expanding it you can see more information about them.
										p Don't forget you can style the sidebar content depending in what state they are (collapsed, compact or normal).
										p The second sidebars goal is to control your sites general settings.
										p Both of them are toggled between two states on all screen sizes, the first one between <strong>collapsed</strong> and <strong>normal</strong> and the second one between <strong>hidden</strong> and <strong>normal</strong>.
										p For more information please check out the <strong>documentation!</strong>

								.table-responsive
									pre(class="brush:xml;")
										|&lt;body&gt;
										|	&nbsp;
										|	<section class="l-main-container">
										|	&nbsp;
										|		<aside id="sb-left-id" class="l-sidebar l-sidebar-1">
										|	&nbsp;
										|			<a href="#" class="ason-widget" data-ason-type="sidebar" data-ason-to-sm="sidebar" data-ason-target="#sb-left-id" >
										|				<i class="fa fa-bars"> </i>
										|			</a>
										|	&nbsp;
										|   		</aside>
										|	&nbsp;
										|		<section class="l-container">
										|	&nbsp;
										|			<header class="l-header l-header-1">
										|				Header content...
										|	&nbsp;
										|				<a href="#" class="ason-widget" data-ason-type="sidebar" data-ason-on-all="collapsed" data-ason-to-all="sidebar" data-ason-is-right="true" data-ason-anim-all="['velocity', 'transition.ason.slideLeftIn', 'transition.ason.slideRightIn']" data-ason-target="#sb-right-2-id" >
										|					<i class="fa fa-bar-chart"> </i>
										|				</a>
										|	&nbsp;
										|       		</header>
										|	&nbsp;
										| 			Page content...
										|	&nbsp;
										|   		</section>
										|	&nbsp;
										|		<aside id="sb-right-2-id" class="l-sidebar l-sidebar-collapsed-right">
										|	&nbsp;
										|			<a href="#" class="ason-widget" data-ason-type="sidebar" data-ason-sidebar="l-sidebar-3" data-ason-on-all="hidden" data-ason-to-all="sidebar" data-ason-anim-all="['velocity', null, 'transition.slideRightBigIn']" data-ason-target="#sb-right-id" >
										|				<i class="fa fa-cog"> </i>
										|			</a>
										|	&nbsp;
										|   		</aside>
										|	&nbsp;
										|		<aside id="sb-right-id" class="l-sidebar l-sidebar-hidden">
										|	&nbsp;
										|			Sidebar content...
										|	&nbsp;
										|   		</aside>
										|   	</section>
										|	&nbsp;
										|&lt;/body&gt;


				include components/layout/footer/footer_1/footer_1__t_1

			include components/layout/sidebar/sidebar_1/sidebar_1__t_1__right_2

			include components/layout/sidebar/sidebar_3/sidebar_3__t_2__right



