//- ------------------------------------
//- BASE LAYOUT
//- ------------------------------------
extends aaa-master-layout


//- ------------------------------------
//- PAGE CONFIGURATION
//- ------------------------------------
prepend config
	- var link = "layout-header-sticky.html"
	- var page = "layout.header.h-sticky"
	- var pageSubTitle = " - Sticky Header"
	- var styles = [ 'syntaxhighlighter']
	- var scripts = [ 'a.syntaxhighlighter' ]

append config
	- var pageBodyClasses = bodyClasses.push('l-header-sticky-1')


//- ------------------------------------
//- PAGE CONTENT
//- ------------------------------------
block content

	//SECTION
	section.l-main-container.has-header-1

		include components/layout/sidebar/sidebar_1/sidebar_1__t_1__left

		//Main Content
		section.l-container

			include components/layout/header/header_1/header_1__t_1__no_sb

			.l-page-header
				h2.l-page-title <span>Sticky</span> Header
				+breadcrumb(bread_layout_header_sticky)

			.l-spaced-top
				.l-box.no-border
					.l-spaced

						.syntax-wrapper
							.syntax-info
								p.mv
									| The <strong>sticky header</strong> always sticks to the top of the page.
									br
									| Try to scroll down.

							.table-responsive
								pre(class="brush:xml;")
									|&lt;body class="l-header-sticky-1" &gt;
									|	&nbsp;
									|	<section class="l-main-container has-header-1">
									|	&nbsp;
									|		<section class="l-container">
									|	&nbsp;
									|			<header class="l-header l-header-1">
									|				Header content...
									|       		</header>
									|	&nbsp;
									|   		</section>
									|	&nbsp;
									|		Page content...
									|   	</section>
									|	&nbsp;
									|&lt;/body&gt;


