//- ------------------------------------
//- BASE LAYOUT
//- ------------------------------------
extends aaa-master-layout


//- ------------------------------------
//- PAGE CONFIGURATION
//- ------------------------------------
prepend config
	- var link = "layout-footer-fixed.html"
	- var page = "layout.footer.f-fixed"
	- var pageSubTitle = " - Fixed Footer"
	- var styles = [ 'syntaxhighlighter']
	- var scripts = [ 'a.syntaxhighlighter' ]


append config
	- var pageBodyClasses = bodyClasses.push('l-footer-fixed-1')


//- ------------------------------------
//- PAGE CONTENT
//- ------------------------------------
block content

	//SECTION
	section.l-main-container.has-footer-1

		include components/layout/sidebar/sidebar_1/sidebar_1__t_1__left

		//Main Content
		section.l-container

			include components/layout/header/header_1/header_1__t_1__no_sb

			.l-page-header
				h2.l-page-title <span>Fixed</span> Footer
				+breadcrumb(bread_layout_footer_fixed)

			.l-spaced-vertical
				.l-box.no-border
					.l-spaced

						.syntax-wrapper
							.syntax-info
								p.mv
									| The <strong>fixed footer</strong> is kind a <strong>fusion</strong> of the "default" and "default-2" examples.
									br
									| Although by markup the footer is inside the main container, visually it's outside of it.
									br
									| Useful in case you want to control the footer through JavaScript.

							.table-responsive
								pre(class="brush:xml;")
									|&lt;body class="l-footer-fixed-1" &gt;
									|	&nbsp;
									|	<section class="l-main-container has-footer-1">
									|	&nbsp;
									|		<section class="l-container">
									|	&nbsp;
									|			Page content...
									|	&nbsp;
									|			<footer class="l-footer l-footer-1">
									|				Footer content...
									|       		</footer>
									|	&nbsp;
									|   		</section>
									|	&nbsp;
									|   	</section>
									|	&nbsp;
									|&lt;/body&gt;

			include components/layout/footer/footer_1/footer_1__t_1
