//- ------------------------------------
//- BASE LAYOUT
//- ------------------------------------
extends aaa-master-layout


//- ------------------------------------
//- PAGE CONFIGURATION
//- ------------------------------------
prepend config
	- var link = "layout-header-default.html"
	- var page = "layout.header.h-default"
	- var pageSubTitle = " - Default Header"
	- var styles = [ 'syntaxhighlighter']
	- var scripts = [ 'a.syntaxhighlighter' ]
	- var hideThemeSettingsFooter = true

//- ------------------------------------
//- PAGE CONTENT
//- ------------------------------------
block content

	//SECTION
	section.l-main-container

		include components/layout/sidebar/sidebar_1/sidebar_1__t_1__left

		//Main Content
		section.l-container

			include components/layout/header/header_1/header_1__t_1__no_sb

			.l-page-header
				h2.l-page-title <span>Default</span> Header
				+breadcrumb(bread_layout_header_default)

			.l-spaced-top
				.l-box.no-border
					.l-spaced

						.syntax-wrapper
							.syntax-info
								p.mv Default header content <strong>inside</strong> the main container.

							.table-responsive
								pre(class="brush:xml;")
									|&lt;body&gt;
									|	&nbsp;
									|	<section class="l-main-container">
									|	&nbsp;
									|		<section class="l-container">
									|	&nbsp;
									|			<header class="l-header l-header-1">
									|				Header content...
									|       		</header>
									|	&nbsp;
									|   		</section>
									|	&nbsp;
									|		Page content...
									|   	</section>
									|	&nbsp;
									|&lt;/body&gt;