//- ------------------------------------
//- BASE LAYOUT
//- ------------------------------------
extends aaa-master-layout


//- ------------------------------------
//- PAGE CONFIGURATION
//- ------------------------------------
prepend config
	- var link = "page-forgot-password.html"
	- var page = "page.p-forgot-password"
	- var pageSubTitle = " - Page - Forgot Password"
	- var scripts = [ 'form.validate', 'form.validate.additional', 'x.call.page.forgot' ]
	- var hideThemeSettings = true

append config
	- var pageBodyClasses = bodyClasses.push('login-bg')

//- ------------------------------------
//- PAGE CONTENT
//- ------------------------------------
block content

	//SECTION
	section.l-main-container

		//Main Content
		.login-wrapper

			.login-container

				//Logo
				h1.login-logo
					img(src = 'img/logo.png', alt = 'Proteus')

				h2 Forgot your password ?

				p  Enter your email and we will send you a link to reset your password.

				//Form
				form#forgotForm.login-form(role='form', action='index.html')

					.form-group
						input#forgotEmail.form-control(type='email', name='forgotEmail', placeholder='Email')

					button.btn.btn-block.btn-dark.btn-login(type='submit') Send Link
					.login-options
						p Not a member ? &nbsp;
							a(href = 'page-register.html') SIGN UP
