//- ------------------------------------
//- BASE LAYOUT
//- ------------------------------------
extends aaa-master-layout


//- ------------------------------------
//- PAGE CONFIGURATION
//- ------------------------------------
prepend config
	- var link = "page-change-password.html"
	- var page = "page.p-change-password"
	- var pageSubTitle = " - Page - Change Password"
	- var scripts = [ 'form.validate', 'form.validate.additional', 'x.call.page.change' ]
	- var hideThemeSettings = true

append config
	- var pageBodyClasses = bodyClasses.push('login-bg')

//- ------------------------------------
//- PAGE CONTENT
//- ------------------------------------
block content

	//SECTION
	section.l-main-container

		//Main Content
		.login-wrapper

			.login-container

				//Logo
				h1.login-logo
					img(src = 'img/logo.png', alt = 'Proteus')

				h2 Change password

				p  To change your password fill in the fields below and click submit.

				//Form
				form#changeForm.login-form(role='form', action='index.html')

					.form-group
						input#changePassword.form-control(type='password', name='changePassword', placeholder='Password')

					.form-group
						input#changePasswordRepeat.form-control(type='password', name='changePasswordRepeat', placeholder='Repeat password')

					button.btn.btn-dark.btn-block.btn-login(type='submit') Submit

					.login-options
