h2.icon-header
	| 519 icons from
	| #{''}
	a(href='http://fortawesome.github.io/Font-Awesome', target='_blank') Font-Awesome

h3.icon-header 40 New Icons in 4.3
.row.icon-list
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-bed
			|  bed
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-buysellads
			|  buysellads
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-cart-arrow-down
			|  cart-arrow-down
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-cart-plus
			|  cart-plus
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-connectdevelop
			|  connectdevelop
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-dashcube
			|  dashcube
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-diamond
			|  diamond
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-facebook-official
			|  facebook-official
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-forumbee
			|  forumbee
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-heartbeat
			|  heartbeat
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-hotel
			|  hotel
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-leanpub
			|  leanpub
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-mars
			|  mars
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-mars-double
			|  mars-double
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-mars-stroke
			|  mars-stroke
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-mars-stroke-h
			|  mars-stroke-h
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-mars-stroke-v
			|  mars-stroke-v
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-medium
			|  medium
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-mercury
			|  mercury
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-motorcycle
			|  motorcycle
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-neuter
			|  neuter
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-pinterest-p
			|  pinterest-p
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-sellsy
			|  sellsy
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-server
			|  server
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-ship
			|  ship
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-shirtsinbulk
			|  shirtsinbulk
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-simplybuilt
			|  simplybuilt
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-skyatlas
			|  skyatlas
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-street-view
			|  street-view
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-subway
			|  subway
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-train
			|  train
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-transgender
			|  transgender
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-transgender-alt
			|  transgender-alt
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-user-plus
			|  user-plus
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-user-secret
			|  user-secret
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-user-times
			|  user-times
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-venus
			|  venus
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-venus-double
			|  venus-double
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-venus-mars
			|  venus-mars
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-viacoin
			|  viacoin
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-whatsapp
			|  whatsapp



h3.icon-header Web Application Icons

.row.icon-list
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-adjust
			|  adjust
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-anchor
			|  anchor
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-archive
			|  archive
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-area-chart
			|  area-chart
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-arrows
			|  arrows
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-arrows-h
			|  arrows-h
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-arrows-v
			|  arrows-v
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-asterisk
			|  asterisk
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-at
			|  at
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-automobile
			|  automobile
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-ban
			|  ban
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-bank
			|  bank
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-bar-chart
			|  bar-chart
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-bar-chart-o
			|  bar-chart-o
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-barcode
			|  barcode
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-bars
			|  bars
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-bed
			|  bed
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-beer
			|  beer
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-bell
			|  bell
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-bell-o
			|  bell-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-bell-slash
			|  bell-slash
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-bell-slash-o
			|  bell-slash-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-bicycle
			|  bicycle
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-binoculars
			|  binoculars
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-birthday-cake
			|  birthday-cake
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-bolt
			|  bolt
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-bomb
			|  bomb
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-book
			|  book
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-bookmark
			|  bookmark
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-bookmark-o
			|  bookmark-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-briefcase
			|  briefcase
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-bug
			|  bug
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-building
			|  building
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-building-o
			|  building-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-bullhorn
			|  bullhorn
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-bullseye
			|  bullseye
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-bus
			|  bus
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-cab
			|  cab
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-calculator
			|  calculator
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-calendar
			|  calendar
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-calendar-o
			|  calendar-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-camera
			|  camera
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-camera-retro
			|  camera-retro
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-car
			|  car
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-caret-square-o-down
			|  caret-square-o-down
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-caret-square-o-left
			|  caret-square-o-left
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-caret-square-o-right
			|  caret-square-o-right
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-caret-square-o-up
			|  caret-square-o-up
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-cart-arrow-down
			|  cart-arrow-down
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-cart-plus
			|  cart-plus
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-cc
			|  cc
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-certificate
			|  certificate
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-check
			|  check
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-check-circle
			|  check-circle
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-check-circle-o
			|  check-circle-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-check-square
			|  check-square
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-check-square-o
			|  check-square-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-child
			|  child
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-circle
			|  circle
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-circle-o
			|  circle-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-circle-o-notch
			|  circle-o-notch
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-circle-thin
			|  circle-thin
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-clock-o
			|  clock-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-close
			|  close
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-cloud
			|  cloud
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-cloud-download
			|  cloud-download
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-cloud-upload
			|  cloud-upload
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-code
			|  code
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-code-fork
			|  code-fork
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-coffee
			|  coffee
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-cog
			|  cog
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-cogs
			|  cogs
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-comment
			|  comment
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-comment-o
			|  comment-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-comments
			|  comments
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-comments-o
			|  comments-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-compass
			|  compass
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-copyright
			|  copyright
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-credit-card
			|  credit-card
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-crop
			|  crop
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-crosshairs
			|  crosshairs
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-cube
			|  cube
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-cubes
			|  cubes
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-cutlery
			|  cutlery
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-dashboard
			|  dashboard
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-database
			|  database
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-desktop
			|  desktop
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-diamond
			|  diamond
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-dot-circle-o
			|  dot-circle-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-download
			|  download
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-edit
			|  edit
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-ellipsis-h
			|  ellipsis-h
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-ellipsis-v
			|  ellipsis-v
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-envelope
			|  envelope
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-envelope-o
			|  envelope-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-envelope-square
			|  envelope-square
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-eraser
			|  eraser
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-exchange
			|  exchange
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-exclamation
			|  exclamation
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-exclamation-circle
			|  exclamation-circle
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-exclamation-triangle
			|  exclamation-triangle
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-external-link
			|  external-link
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-external-link-square
			|  external-link-square
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-eye
			|  eye
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-eye-slash
			|  eye-slash
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-eyedropper
			|  eyedropper
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-fax
			|  fax
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-female
			|  female
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-fighter-jet
			|  fighter-jet
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-file-archive-o
			|  file-archive-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-file-audio-o
			|  file-audio-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-file-code-o
			|  file-code-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-file-excel-o
			|  file-excel-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-file-image-o
			|  file-image-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-file-movie-o
			|  file-movie-o
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-file-pdf-o
			|  file-pdf-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-file-photo-o
			|  file-photo-o
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-file-picture-o
			|  file-picture-o
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-file-powerpoint-o
			|  file-powerpoint-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-file-sound-o
			|  file-sound-o
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-file-video-o
			|  file-video-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-file-word-o
			|  file-word-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-file-zip-o
			|  file-zip-o
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-film
			|  film
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-filter
			|  filter
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-fire
			|  fire
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-fire-extinguisher
			|  fire-extinguisher
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-flag
			|  flag
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-flag-checkered
			|  flag-checkered
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-flag-o
			|  flag-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-flash
			|  flash
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-flask
			|  flask
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-folder
			|  folder
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-folder-o
			|  folder-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-folder-open
			|  folder-open
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-folder-open-o
			|  folder-open-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-frown-o
			|  frown-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-futbol-o
			|  futbol-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-gamepad
			|  gamepad
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-gavel
			|  gavel
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-gear
			|  gear
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-gears
			|  gears
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-genderless
			|  genderless
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-gift
			|  gift
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-glass
			|  glass
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-globe
			|  globe
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-graduation-cap
			|  graduation-cap
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-group
			|  group
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-hdd-o
			|  hdd-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-headphones
			|  headphones
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-heart
			|  heart
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-heart-o
			|  heart-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-heartbeat
			|  heartbeat
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-history
			|  history
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-home
			|  home
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-hotel
			|  hotel
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-image
			|  image
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-inbox
			|  inbox
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-info
			|  info
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-info-circle
			|  info-circle
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-institution
			|  institution
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-key
			|  key
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-keyboard-o
			|  keyboard-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-language
			|  language
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-laptop
			|  laptop
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-leaf
			|  leaf
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-legal
			|  legal
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-lemon-o
			|  lemon-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-level-down
			|  level-down
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-level-up
			|  level-up
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-life-bouy
			|  life-bouy
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-life-buoy
			|  life-buoy
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-life-ring
			|  life-ring
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-life-saver
			|  life-saver
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-lightbulb-o
			|  lightbulb-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-line-chart
			|  line-chart
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-location-arrow
			|  location-arrow
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-lock
			|  lock
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-magic
			|  magic
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-magnet
			|  magnet
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-mail-forward
			|  mail-forward
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-mail-reply
			|  mail-reply
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-mail-reply-all
			|  mail-reply-all
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-male
			|  male
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-map-marker
			|  map-marker
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-meh-o
			|  meh-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-microphone
			|  microphone
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-microphone-slash
			|  microphone-slash
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-minus
			|  minus
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-minus-circle
			|  minus-circle
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-minus-square
			|  minus-square
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-minus-square-o
			|  minus-square-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-mobile
			|  mobile
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-mobile-phone
			|  mobile-phone
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-money
			|  money
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-moon-o
			|  moon-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-mortar-board
			|  mortar-board
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-motorcycle
			|  motorcycle
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-music
			|  music
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-navicon
			|  navicon
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-newspaper-o
			|  newspaper-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-paint-brush
			|  paint-brush
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-paper-plane
			|  paper-plane
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-paper-plane-o
			|  paper-plane-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-paw
			|  paw
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-pencil
			|  pencil
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-pencil-square
			|  pencil-square
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-pencil-square-o
			|  pencil-square-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-phone
			|  phone
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-phone-square
			|  phone-square
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-photo
			|  photo
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-picture-o
			|  picture-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-pie-chart
			|  pie-chart
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-plane
			|  plane
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-plug
			|  plug
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-plus
			|  plus
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-plus-circle
			|  plus-circle
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-plus-square
			|  plus-square
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-plus-square-o
			|  plus-square-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-power-off
			|  power-off
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-print
			|  print
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-puzzle-piece
			|  puzzle-piece
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-qrcode
			|  qrcode
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-question
			|  question
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-question-circle
			|  question-circle
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-quote-left
			|  quote-left
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-quote-right
			|  quote-right
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-random
			|  random
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-recycle
			|  recycle
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-refresh
			|  refresh
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-remove
			|  remove
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-reorder
			|  reorder
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-reply
			|  reply
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-reply-all
			|  reply-all
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-retweet
			|  retweet
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-road
			|  road
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-rocket
			|  rocket
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-rss
			|  rss
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-rss-square
			|  rss-square
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-search
			|  search
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-search-minus
			|  search-minus
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-search-plus
			|  search-plus
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-send
			|  send
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-send-o
			|  send-o
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-server
			|  server
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-share
			|  share
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-share-alt
			|  share-alt
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-share-alt-square
			|  share-alt-square
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-share-square
			|  share-square
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-share-square-o
			|  share-square-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-shield
			|  shield
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-ship
			|  ship
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-shopping-cart
			|  shopping-cart
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-sign-in
			|  sign-in
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-sign-out
			|  sign-out
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-signal
			|  signal
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-sitemap
			|  sitemap
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-sliders
			|  sliders
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-smile-o
			|  smile-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-soccer-ball-o
			|  soccer-ball-o
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-sort
			|  sort
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-sort-alpha-asc
			|  sort-alpha-asc
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-sort-alpha-desc
			|  sort-alpha-desc
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-sort-amount-asc
			|  sort-amount-asc
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-sort-amount-desc
			|  sort-amount-desc
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-sort-asc
			|  sort-asc
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-sort-desc
			|  sort-desc
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-sort-down
			|  sort-down
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-sort-numeric-asc
			|  sort-numeric-asc
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-sort-numeric-desc
			|  sort-numeric-desc
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-sort-up
			|  sort-up
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-space-shuttle
			|  space-shuttle
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-spinner
			|  spinner
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-spoon
			|  spoon
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-square
			|  square
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-square-o
			|  square-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-star
			|  star
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-star-half
			|  star-half
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-star-half-empty
			|  star-half-empty
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-star-half-full
			|  star-half-full
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-star-half-o
			|  star-half-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-star-o
			|  star-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-street-view
			|  street-view
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-suitcase
			|  suitcase
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-sun-o
			|  sun-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-support
			|  support
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-tablet
			|  tablet
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-tachometer
			|  tachometer
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-tag
			|  tag
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-tags
			|  tags
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-tasks
			|  tasks
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-taxi
			|  taxi
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-terminal
			|  terminal
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-thumb-tack
			|  thumb-tack
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-thumbs-down
			|  thumbs-down
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-thumbs-o-down
			|  thumbs-o-down
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-thumbs-o-up
			|  thumbs-o-up
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-thumbs-up
			|  thumbs-up
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-ticket
			|  ticket
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-times
			|  times
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-times-circle
			|  times-circle
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-times-circle-o
			|  times-circle-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-tint
			|  tint
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-toggle-down
			|  toggle-down
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-toggle-left
			|  toggle-left
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-toggle-off
			|  toggle-off
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-toggle-on
			|  toggle-on
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-toggle-right
			|  toggle-right
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-toggle-up
			|  toggle-up
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-trash
			|  trash
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-trash-o
			|  trash-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-tree
			|  tree
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-trophy
			|  trophy
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-truck
			|  truck
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-tty
			|  tty
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-umbrella
			|  umbrella
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-university
			|  university
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-unlock
			|  unlock
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-unlock-alt
			|  unlock-alt
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-unsorted
			|  unsorted
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-upload
			|  upload
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-user
			|  user
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-user-plus
			|  user-plus
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-user-secret
			|  user-secret
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-user-times
			|  user-times
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-users
			|  users
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-video-camera
			|  video-camera
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-volume-down
			|  volume-down
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-volume-off
			|  volume-off
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-volume-up
			|  volume-up
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-warning
			|  warning
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-wheelchair
			|  wheelchair
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-wifi
			|  wifi
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-wrench
			|  wrench



h3.icon-header Transportation Icons

.row.icon-list
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-ambulance
			| ambulance
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-automobile
			| automobile
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-bicycle
			| bicycle
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-bus
			| bus
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-cab
			| cab
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-car
			| car
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-fighter-jet
			| fighter-jet
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-motorcycle
			| motorcycle
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-plane
			| plane
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-rocket
			| rocket
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-ship
			| ship
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-space-shuttle
			| space-shuttle
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-subway
			| subway
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-taxi
			| taxi
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-train
			| train
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-truck
			| truck
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-wheelchair
			| wheelchair

h3.icon-header Gender Icons

.row.icon-list
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-circle-thin
			| circle-thin
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-genderless
			| genderless
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-mars
			| mars
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-mars-double
			| mars-double
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-mars-stroke
			| mars-stroke
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-mars-stroke-h
			| mars-stroke-h
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-mars-stroke-v
			| mars-stroke-v
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-mercury
			| mercury
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-neuter
			| neuter
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-transgender
			| transgender
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-transgender-alt
			| transgender-alt
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-venus
			| venus
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-venus-double
			| venus-double
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-venus-mars
			| venus-mars

h3.icon-header File Type Icons

.row.icon-list
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-file
			| file
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-file-archive-o
			| file-archive-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-file-audio-o
			| file-audio-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-file-code-o
			| file-code-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-file-excel-o
			| file-excel-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-file-image-o
			| file-image-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-file-movie-o
			| file-movie-o
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-file-o
			| file-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-file-pdf-o
			| file-pdf-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-file-photo-o
			| file-photo-o
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-file-picture-o
			| file-picture-o
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-file-powerpoint-o
			| file-powerpoint-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-file-sound-o
			| file-sound-o
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-file-text
			| file-text
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-file-text-o
			| file-text-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-file-video-o
			| file-video-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-file-word-o
			| file-word-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-file-zip-o
			| file-zip-o
			span.text-muted (alias)


h3.icon-header Spinner Icons

div.alert.alert-dark
	ul.fa-ul
		li
			i.fa.fa-info-circle.fa-lg.fa-li
			| These icons work great with the <code>fa-spin</code>.


.row.icon-list
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-circle-o-notch
			| fa-circle-o-notch
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-cog
			| fa-cog
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-gear
			| fa-gear
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-refresh
			| fa-refresh
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-spinner
			| fa-spinner


h3.icon-header Form Control Icons

.row.icon-list
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-check-square
			| check-square
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-check-square-o
			| check-square-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-circle
			| circle
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-circle-o
			| circle-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-dot-circle-o
			| dot-circle-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-minus-square
			| minus-square
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-minus-square-o
			| minus-square-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-plus-square
			| plus-square
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-plus-square-o
			| plus-square-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-square
			| square
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-square-o
			| square-o

h3.icon-header Payment Icons

.row.icon-list
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-cc-amex
			|  cc-amex
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-cc-discover
			|  cc-discover
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-cc-mastercard
			|  cc-mastercard
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-cc-paypal
			|  cc-paypal
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-cc-stripe
			|  cc-stripe
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-cc-visa
			|  cc-visa
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-credit-card
			|  credit-card
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-google-wallet
			|  google-wallet
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-paypal
			|  paypal

h3.icon-header Chart Icons

.row.icon-list
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-area-chart
			|  area-chart
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-bar-chart
			|  bar-chart
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-bar-chart-o
			|  bar-chart-o
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-line-chart
			|  line-chart
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-pie-chart
			|  pie-chart

h3.icon-header Currency Icons

.row.icon-list
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-bitcoin
			|  bitcoin
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-btc
			|  btc
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-cny
			|  cny
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-dollar
			|  dollar
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-eur
			|  eur
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-euro
			|  euro
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-gbp
			|  gbp
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-ils
			|  ils
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-inr
			|  inr
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-jpy
			|  jpy
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-krw
			|  krw
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-money
			|  money
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-rmb
			|  rmb
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-rouble
			|  rouble
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-rub
			|  rub
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-ruble
			|  ruble
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-rupee
			|  rupee
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-shekel
			|  shekel
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-sheqel
			|  sheqel
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-try
			|  try
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-turkish-lira
			|  turkish-lira
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-usd
			|  usd
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-won
			|  won
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-yen
			|  yen
			span.text-muted (alias)


h3.icon-header Text Editor Icons

.row.icon-list
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-align-center
			| align-center
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-align-justify
			| align-justify
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-align-left
			| align-left
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-align-right
			| align-right
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-bold
			| bold
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-chain
			| chain
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-chain-broken
			| chain-broken
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-clipboard
			| clipboard
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-columns
			| columns
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-copy
			| copy
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-cut
			| cut
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-dedent
			| dedent
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-eraser
			| eraser
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-file
			| file
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-file-o
			| file-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-file-text
			| file-text
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-file-text-o
			| file-text-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-files-o
			| files-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-floppy-o
			| floppy-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-font
			| font
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-header
			| header
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-indent
			| indent
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-italic
			| italic
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-link
			| link
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-list
			| list
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-list-alt
			| list-alt
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-list-ol
			| list-ol
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-list-ul
			| list-ul
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-outdent
			| outdent
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-paperclip
			| paperclip
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-paragraph
			| paragraph
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-paste
			| paste
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-repeat
			| repeat
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-rotate-left
			| rotate-left
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-rotate-right
			| rotate-right
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-save
			| save
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-scissors
			| scissors
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-strikethrough
			| strikethrough
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-subscript
			| subscript
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-superscript
			| superscript
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-table
			| table
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-text-height
			| text-height
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-text-width
			| text-width
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-th
			| th
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-th-large
			| th-large
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-th-list
			| th-list
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-underline
			| underline
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-undo
			| undo
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-unlink
			| unlink
			span.text-muted (alias)


h3.icon-header Directional Icons

.row.icon-list
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-angle-double-down
			| angle-double-down
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-angle-double-left
			| angle-double-left
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-angle-double-right
			| angle-double-right
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-angle-double-up
			| angle-double-up
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-angle-down
			| angle-down
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-angle-left
			| angle-left
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-angle-right
			| angle-right
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-angle-up
			| angle-up
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-arrow-circle-down
			| arrow-circle-down
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-arrow-circle-left
			| arrow-circle-left
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-arrow-circle-o-down
			| arrow-circle-o-down
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-arrow-circle-o-left
			| arrow-circle-o-left
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-arrow-circle-o-right
			| arrow-circle-o-right
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-arrow-circle-o-up
			| arrow-circle-o-up
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-arrow-circle-right
			| arrow-circle-right
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-arrow-circle-up
			| arrow-circle-up
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-arrow-down
			| arrow-down
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-arrow-left
			| arrow-left
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-arrow-right
			| arrow-right
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-arrow-up
			| arrow-up
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-arrows
			| arrows
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-arrows-alt
			| arrows-alt
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-arrows-h
			| arrows-h
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-arrows-v
			| arrows-v
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-caret-down
			| caret-down
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-caret-left
			| caret-left
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-caret-right
			| caret-right
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-caret-square-o-down
			| caret-square-o-down
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-caret-square-o-left
			| caret-square-o-left
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-caret-square-o-right
			| caret-square-o-right
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-caret-square-o-up
			| caret-square-o-up
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-caret-up
			| caret-up
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-chevron-circle-down
			| chevron-circle-down
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-chevron-circle-left
			| chevron-circle-left
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-chevron-circle-right
			| chevron-circle-right
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-chevron-circle-up
			| chevron-circle-up
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-chevron-down
			| chevron-down
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-chevron-left
			| chevron-left
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-chevron-right
			| chevron-right
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-chevron-up
			| chevron-up
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-hand-o-down
			| hand-o-down
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-hand-o-left
			| hand-o-left
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-hand-o-right
			| hand-o-right
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-hand-o-up
			| hand-o-up
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-long-arrow-down
			| long-arrow-down
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-long-arrow-left
			| long-arrow-left
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-long-arrow-right
			| long-arrow-right
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-long-arrow-up
			| long-arrow-up
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-toggle-down
			| toggle-down
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-toggle-left
			| toggle-left
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-toggle-right
			| toggle-right
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-toggle-up
			| toggle-up
			span.text-muted (alias)


h3.icon-header Video Player Icons

.row.icon-list
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-arrows-alt
			|  arrows-alt
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-backward
			|  backward
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-compress
			|  compress
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-eject
			|  eject
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-expand
			|  expand
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-fast-backward
			|  fast-backward
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-fast-forward
			|  fast-forward
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-forward
			|  forward
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-pause
			|  pause
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-play
			|  play
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-play-circle
			|  play-circle
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-play-circle-o
			|  play-circle-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-step-backward
			|  step-backward
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-step-forward
			|  step-forward
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-stop
			|  stop
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-youtube-play
			|  youtube-play



h3.icon-header Brand Icons

div.alert.alert-dark
	ul.margin-bottom-none.padding-left-lg
		li All brand icons are trademarks of their respective owners.
		li The use of these trademarks does not indicate endorsement of the trademark holder by Font Awesome, nor vice versa.

div.alert.alert-warning
	h4
		i.fa.fa-warning
		| #{''}
		| Warning!
	| Apparently, Adblock Plus can remove Font Awesome brand icons with their "Remove Social
	| Media Buttons" setting. We will not use hacks to force them to display. Please
	| #{''}
	a.alert-link(href='https://adblockplus.org/en/bugs') report an issue with Adblock Plus
	| #{''}
	| if you believe this to be
	| an error. To work around this, you'll need to modify the social icon class names.

.row.icon-list
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-adn
			| adn
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-android
			| android
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-angellist
			| angellist
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-apple
			| apple
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-behance
			| behance
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-behance-square
			| behance-square
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-bitbucket
			| bitbucket
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-bitbucket-square
			| bitbucket-square
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-bitcoin
			| bitcoin
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-btc
			| btc
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-buysellads
			| buysellads
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-cc-amex
			| cc-amex
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-cc-discover
			| cc-discover
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-cc-mastercard
			| cc-mastercard
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-cc-paypal
			| cc-paypal
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-cc-stripe
			| cc-stripe
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-cc-visa
			| cc-visa
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-codepen
			| codepen
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-connectdevelop
			| connectdevelop
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-css3
			| css3
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-dashcube
			| dashcube
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-delicious
			| delicious
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-deviantart
			| deviantart
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-digg
			| digg
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-dribbble
			| dribbble
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-dropbox
			| dropbox
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-drupal
			| drupal
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-empire
			| empire
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-facebook
			| facebook
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-facebook-f
			| facebook-f
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-facebook-official
			| facebook-official
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-facebook-square
			| facebook-square
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-flickr
			| flickr
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-forumbee
			| forumbee
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-foursquare
			| foursquare
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-ge
			| ge
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-git
			| git
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-git-square
			| git-square
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-github
			| github
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-github-alt
			| github-alt
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-github-square
			| github-square
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-gittip
			| gittip
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-google
			| google
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-google-plus
			| google-plus
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-google-plus-square
			| google-plus-square
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-google-wallet
			| google-wallet
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-gratipay
			| gratipay
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-hacker-news
			| hacker-news
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-html5
			| html5
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-instagram
			| instagram
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-ioxhost
			| ioxhost
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-joomla
			| joomla
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-jsfiddle
			| jsfiddle
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-lastfm
			| lastfm
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-lastfm-square
			| lastfm-square
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-leanpub
			| leanpub
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-linkedin
			| linkedin
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-linkedin-square
			| linkedin-square
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-linux
			| linux
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-maxcdn
			| maxcdn
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-meanpath
			| meanpath
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-medium
			| medium
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-openid
			| openid
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-pagelines
			| pagelines
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-paypal
			| paypal
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-pied-piper
			| pied-piper
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-pied-piper-alt
			| pied-piper-alt
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-pinterest
			| pinterest
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-pinterest-p
			| pinterest-p
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-pinterest-square
			| pinterest-square
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-qq
			| qq
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-ra
			| ra
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-rebel
			| rebel
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-reddit
			| reddit
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-reddit-square
			| reddit-square
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-renren
			| renren
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-sellsy
			| sellsy
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-share-alt
			| share-alt
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-share-alt-square
			| share-alt-square
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-shirtsinbulk
			| shirtsinbulk
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-simplybuilt
			| simplybuilt
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-skyatlas
			| skyatlas
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-skype
			| skype
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-slack
			| slack
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-slideshare
			| slideshare
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-soundcloud
			| soundcloud
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-spotify
			| spotify
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-stack-exchange
			| stack-exchange
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-stack-overflow
			| stack-overflow
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-steam
			| steam
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-steam-square
			| steam-square
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-stumbleupon
			| stumbleupon
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-stumbleupon-circle
			| stumbleupon-circle
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-tencent-weibo
			| tencent-weibo
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-trello
			| trello
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-tumblr
			| tumblr
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-tumblr-square
			| tumblr-square
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-twitch
			| twitch
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-twitter
			| twitter
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-twitter-square
			| twitter-square
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-viacoin
			| viacoin
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-vimeo-square
			| vimeo-square
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-vine
			| vine
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-vk
			| vk
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-wechat
			| wechat
			span.text-muted (alias)
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-weibo
			| weibo
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-weixin
			| weixin
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-whatsapp
			| whatsapp
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-windows
			| windows
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-wordpress
			| wordpress
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-xing
			| xing
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-xing-square
			| xing-square
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-yahoo
			| yahoo
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-yelp
			| yelp
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-youtube
			| youtube
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-youtube-play
			| youtube-play
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-youtube-square
			| youtube-square

h3.icon-header Medical Icons

.row.icon-list
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-ambulance
			| ambulance
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-h-square
			| h-square
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-heart
			| heart
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-heart-o
			| heart-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-heartbeat
			| heartbeat
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-hospital-o
			| hospital-o
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-medkit
			| medkit
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-plus-square
			| plus-square
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-stethoscope
			| stethoscope
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-user-md
			| user-md
	.col-lg-3.col-md-6
		.icon-hover
			i.fa.fa-wheelchair
			| wheelchair


