
//Left Sidebar Content
aside#slide-left.l-slidebar.l-slidebar-left-1.t-sidebar-1

	.l-side-box
		include ../../../widgets/widget_logo/logo_in_side

	//Main Menu
	.l-side-box

		include ../../nav/nav