{% extends "base.html" %}
{% block title %}CALENDARIO{% endblock %}
{% block contenido %}
<div class="l-row l-spaced-horizontal l-spaced-top">
  <!-- ENTRADAS RECIENTES -->
  <div class="statistic-body">
    <div class="l-row">
      <div class="l-span-lg-4 l-span-md-3 l-span-sm-4">
        <div class="statistic-item t-item-4">
          <ul>
            <li class="item-title"><i class="fa fa-calendar"></i><br />Calendar</li>
          </ul>
          <br />
          <a href="/seleccionarCalendario" class="btn btn-default btn-lg" alt="...">ACCEDER</a>
        </div>
      </div>
    </div>
  <!-- FIN ENTRADAS RECIENTES -->
</div>
{% endblock %}



{% block script %}

{% endblock %}

