{% extends "base.html" %}
{% block title %}MSX{% endblock %}
{% block contenido %}
<div class="l-row l-spaced-horizontal l-spaced-top">
  <div class="l-box l-col-md-12 l-spaced-bottom">
    <div class="l-box-header">
      <h2 class="l-box-title"><span>Lista</span></h2>
    </div>
    <div class="l-box-body l-spaced">
      <h2>JUEGOS MSX: {{ juego }}</h2>
      <div class="l-box-body l-spaced">
        <!-- FORMULARIO -->
        <form class="form-horizontal" method="POST" action="/listajuegos">
          <a href="/juegos" class="btn btn-dark">Atas</a>
          <!-- CONTENIDO TABLA -->
          <table id="dataTableIdVerticalScroll" cellspacing="0" width="100%" class="display">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Desarrollador</th>
                <th>Info</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>Nombre</th>
                <th>Desarrollador</th>
                <th>Info</th>
              </tr>
            </tfoot>
            <tbody>
              {% for elem in lista_juegos -%}
                <tr>
                  <td>{{ elem['nombre'] }}</td>
                  <td>{{ elem['desarrollador'] }}</td>
                  <td><a class="btn btn-info" href="/juegos/{{ elem['id'] }}">Detalles</a></td>
                </tr>
              {% endfor -%}
            </tbody>
          </table>
          <!-- FIN CONTENIDO TABLA -->
        </form>
        <!-- FIN FORMULARIO -->
      </div>
    </div>
  </div>
</div>
{% endblock %}