//Logo
.widget-logo.logo-in-side
	h1
		a(href='index.html')
			span.logo-default.visible-default-inline-block
				img(src = 'img/logo.png', alt = 'Proteus')
			span.logo-medium.visible-compact-inline-block
				img(src = 'img/logo_medium.png', alt = 'Proteus' , title = 'PROTEUS' )
			spanl.logo-small.visible-collapsed-inline-block
				img(src = 'img/logo_small.png', alt = 'Proteus' , title = 'PROTEUS' )
