.widget-activity.activity-in-side

	.widget-activity-header
		h4.activity-title.pull-left Activity
		a(href='#', title='Sort - Asc').tt-chat.btn.pull-right
			i.fa.fa-sort-amount-asc

	.widget-activity-body

		.widget-activity-item
			.activity-text
				h5
					a(href="#") Jane Yang
					= ' '
					| has signed up on
					= ' '
					a(href="#") Themeriver
				div Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			ul.activity-status
				li
					i.fa.fa-user-plus.text-info
				li 3 mins ago

		.widget-activity-item
			.activity-text
				h5
					a(href="#") Timothy Walker
					= ' '
					| commented on
					= ' '
					a(href="#") IOS icon
				div Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			ul.activity-status
				li
					i.fa.fa-comment.text-success
				li 10 mins ago

		.widget-activity-item
			.activity-text
				h5
					a(href="#") Howard White
					= ' '
					| repinned your pin.

				div Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			ul.activity-status
				li
					i.fa.fa-pinterest-p.text-danger
				li 1 hour ago

		.widget-activity-item
			.activity-text
				h5
					a(href="#") Andrea Santos
					= ' '
					| followed you.

				div Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			ul.activity-status
				li
					i.fa.fa-check.text-dark
				li 2 hours ago

		.widget-activity-item
			.activity-text
				h5
					a(href="#") Ethan Davis
					= ' '
					| took a photo.

				div Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			ul.activity-status
				li
					i.fa.fa-camera.text-warning
				li 5 hours ago

		.widget-activity-item
			.activity-text
				h5
					a(href="#") Mark Duncan
					= ' '
					| liked
					= ' '
					a(href="#") Proteus

				div Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			ul.activity-status
				li
					i.fa.fa-heart.text-danger
				li 8 hours ago